<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign in</title>
    <!-- // 引入jquery -->
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>

    <!-- 引入index.css -->
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <form action="/api/v1/user/signin" method="post">
        <input type="text" name="username" placeholder="username"><br/>
        <input type="password" name="password" placeholder="password"><br/>
        <!-- // 触发函数的点击按钮 -->
        <input type="button" value="signin" onclick="signin()">
    </form>
    <a href="/static/view/signup.html">sign up</a>

    <script>
        function signin() {
            data = JSON.stringify({
                username: $('input[name="username"]').val(),
                password: $('input[name="password"]').val(),
            })
            console.log(data)
            $.ajax({
                url: '/api/v1/user/signin',
                type: 'POST',
                contentType: 'application/json',
                data: data,
                success(res) {
                    console.log(res)
                    localStorage.setItem('userModel', JSON.stringify(res.data))
                    localStorage.setItem('token', res.data.token)
                    window.location.href = '/static/view/home.html'
                },
                error(res) {
                    alert('登录失败...')
                }
            })
        }

        function onOpen() {
            $('input[name="username"]').focus()
        }

        $(document).ready(function() {
            onOpen()
        })
    </script>
</body>
</html>